/* CSS Document */

.top-baner{
height:73px;
background-color:#f3f0e7;
}

.top2-baner{
height:40px;
margin-top: 7px;
background-color:#f3f0e7;

}





.language-botton{
font-weight:bold;
padding:10px;
background-color:#cc2229;
width:70px;
height:40px;
color:#FFFFFF;
float:left;
}


.social-botton{
font-weight:bold;
padding:10px;
width: 55px;
height:40px;
color:#FFFFFF;
float:right;
}

.social-botton img{
width: 39px;
margin-top: -9px;
}


.language-botton a{
color:#FFFFFF;
}

.language-botton a:hover{
color:#FFFFFF;
}



.camera-botton{
font-weight:bold;
padding:5px;
width:62px;
height:40px;
color:#858384;
float:left;
}

.camera-botton-text{
color:#cc2229;
text-align: right;
margin-top: -22px;
margin-left: 30px;
}



.top3-baner{
height:auto;
margin-top: 10px;
float:right;
}






.date{
height:40px;
background-color:#f0f0f0;
}

.date-fix-text{
float: left;
font-weight: bold;
padding: 10px;
color: #717171;
}


.search{
float: right;
font-weight: bold;
padding: 5px;
color: #000;
border: 1px #717171 solid;
}

.ticker {
  height: 42px;
  overflow: hidden;
  line-height: 38px;
  margin-left: -55px;
margin-right: -15px;
}

ul.ticker li span {
  background-color: #cc2229;
  border-right: 1px solid #fff color: #FFF;
  margin-right: 6px;
  font-size: 20px;
  padding: 10px 25px 10px 30px;
}

.ticker a:hover {
  color: #D8D8D8;
}

.ticker a,
.ticker li {
  color: #ffffff;
  font-size: 18px;
  background: #333;
  list-style: none;
}

.product-tab {
border: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 2px;
    padding: 0;
    text-align: center;
	background-color: #999999;
}


.product-tab li {
    display: inline-block;
}
.product-tab li a {
	color: #fcf9f9;
	display: block;
	font-size: 16px;
	padding: 10px 49px;
}
.tab-pane{background-color: #f5f5f5;
margin-top:0px;}
.product-tab li.active {
    background: none repeat scroll 0 0 #f2532b;
}
.product-tab li.active a {
    color: #fff;
}

.tab-content {
    margin-bottom: 30px;
/*	height: 400px;*/
/*
    overflow: hidden;
    overflow-y: auto;
*/
}

.pop_news {
   font-size: 13px;
font-weight: bold;
border-bottom: 2px #999999 solid;
padding: 8px;
}

.tabpanel{
    margin-top: 10px;
	margin-right: -15px;
}


.main-nwes-thambel{
padding: 7px;
border: 3px #cdcdcd solid;
border-radius: 4px;
margin-top: 10px;
width: 660px;
margin-left:-16px;
}



.highlight_img{
margin: 0px 63px 11px -11px;
}
.highlight_news{
margin: 0px -60px 0px 0px;
font-size: 12px;
color: aliceblue;
margin-top: -35px;
background-color: #0e0e0f99;
position: absolute;
font-weight: bold;
}

.right-sm-add-1 {
   height: 100px;
background-color: #2aa5a5;
margin-bottom: 10px;
}

.right-sm-add-2 {
    height: 100px;
    background-color: #2aa5a5;
}

/*.header-video{
text-align:left;
margin-left:-15px; 
border:1px #d8d8d8 solid;
}
*/

.header-video p{

color: #D20101;
padding: 5px 0px 0px 10px;
font-weight: bold;
}

.video-thambel-1{
border: 8px #d8d8d8 solid;
margin-left: -30px;
margin-top: 9px;
width: 315px;
height: 248px;
color:#cc2229;
}


.video-thambel-2{
border: 8px #d8d8d8 solid;
margin-left: 77px;
margin-top: 9px;
width: 315px;
height: 248px;
}


.sports-live{
height: 140px;
border: 2px #999999 solid;
margin-top: 10px;
}


.sports-live-header{
height:40px;
background-color:#cc2229;
}

p.left{
background-color: #cc2229;
width: 55px;
padding: 10px;
color: aliceblue;
float:left;
}

.sports-live-header p.right{
float: right;
background-color: #5a5a5a;
width: 96px;
padding: 10px;
color: aliceblue;
}


.online-survey{
border: 2px #999999 solid;
margin-top: 10px;
}


.online-survey p{
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 18px;
color:white;
}

.online-survey-q{
font-size:15px;
}
.online-survey-q p{
color:black;
}

.online-survey-ans{
padding: 7px 0px 7px 25px;
border-bottom: 2px solid;
border-top: 2px solid;
}

.online-survey-rep{

padding: 7px 0px 7px 25px;
}


.news_thum1{
margin-bottom:5px;
background-color: #630933;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news-thum11{
border-top: 6px #630933 solid;
width: 197px;
}




.news_thum2{
margin-bottom:5px;
background-color: #f47c20;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum22{
border-top: 6px #f47c20 solid;
width: 197px;
}





.news_thum3{
margin-bottom:5px;
background-color: #4579bd;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum33{
border-top: 6px #4579bd solid;
width: 197px;
}


.news_thum4{
margin-bottom:5px;
background-color: #d41b5d;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum44{
border-top: 6px #d41b5d solid;
width: 197px;
}



.news_thum5{
margin-bottom:5px;
background-color: #322a7d;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum55{
border-top: 6px #322a7d solid;
width: 197px;
}


.news_thum6{
margin-bottom:5px;
background-color: #a67d51;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum66{
border-top: 6px #a67d51 solid;
width: 197px;
}


.news_thum7{
margin-bottom:5px;
background-color: #0f4b91;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum77{
border-top: 6px #0f4b91 solid;
width: 197px;
}


.news_thum8{
margin-bottom:5px;
background-color: #e63d2f;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum88{
border-top: 6px #e63d2f solid;
width: 197px;
}


.news_thum9{
margin-bottom:5px;
background-color: #7c303f;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum99{
border-top: 6px #7c303f solid;
width: 197px;
}


.news_thum10{
margin-bottom:5px;
background-color: #472d8c;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum100{
border-top: 6px #472d8c solid;
width: 197px;
}


.news_thum11{
margin-bottom:5px;
background-color: #392f2c;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum110{
border-top: 6px #392f2c solid;
width: 197px;
}



.news_thum12{
margin-bottom:5px;
background-color: #63a844;
text-align: center;
font-size: 18px;
color: #fff;
font-weight: bold;
height: 34px;
padding: 5px;
width:197px;

}

.news_thum120{
border-top: 6px #63a844 solid;
width: 197px;
}




.cat-news-title{
border-bottom: 1px solid;
font-size: 15px;
}

.d2{
height: 453px;
overflow: hidden;
}


.right-md-add-1{
background-color: #2aa5a5;
height: 170px;
margin-top: 10px;
}



.right-md-add-2{
background-color: #2aa5a5;
height: 170px;
margin-top: 10px;
}

.fb_page2{
margin-top: 10px;
}



.right-sm-add-3{
height: 100px;
background-color: #2aa5a5;
margin-top:10px;
}


.right-lg-add-1{
height: 900px;
background-color: #2aa5a5;
margin-top:10px;
}

.fot_news_head{
background-color: #cbdafd;
height: 35px;
padding: 6px;
font-size: 17px;
font-weight: bold;
margin-bottom:10px;
}

.p_tag{
background-color: #ebebeb;
border-radius: 1px;
margin: 3px 2px;
padding: 3px 10px;
}

.f_text {
	border-top: 2px bisque solid;
	margin-top: 30px;
	padding: 20px 0px 20px 0px;
	font-size: 12px;
	font-style: italic;
}
/*********************************************************************************************************************************/

.menu_container > ul > li > a {
	padding-left: 13px;
	padding-right: 13px;
}
.container {
	box-shadow: 0px 0px 2px !important;
}
.top-baner {
	background-color: #ededed;
}
.social-botton {

	padding: 10px;
}
.social-botton img {
	width: 24px;
	margin-top: 0px;
	border-radius: 3px;
}
.camera-botton {
	padding: 5px;
	float: left;
	padding: 5px 10px;
}
.camera-botton-text {
	color: #cc2229;
	text-align: left;
	margin-top: -22px;
	margin-left: 30px;
}
.top2-baner {
	height: 40px;
	margin-top: 7px;
	background-color: #e9e9e9;
}
.login-botton {
	padding: 10px;
	width: 123px;
	height: 40px;
	color: #FFFFFF;
	float: right;
	text-shadow: 1px 0px 0px black;
}
.language-botton {
	font-weight: bold;
	padding: 10px;
	background-color: #cc2229;
	width: 70px;
	height: 40px;
	color: #FFFFFF;
	float: left;
	border-radius: 6px;
}
.media-carousel {
	margin-bottom: 0;
	padding: 3px 40px 30px 40px;
	margin-top: 0px;
	background-color: #e9e9e9;
}
.thumbnail img {
	height: 105px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: block !important;
}
#top-slider .owl-prev {
	position: absolute;
	top: 37%;
	left: 0.2%;
	background: red;
	color: white;
	padding: 10px 5px;
}
#top-slider .owl-next {
	position: absolute;
	top: 37%;
	right: 0.1%;
	background: red;
	color: white;
	padding: 10px 5px;
}
.img-responsive.main-nwes-thambel {
	height: 300px;
}
.product-tab {
	background-color: #cc2229;
}
.pop_news {
	font-size: 13px;
	font-weight: bold;
	border-bottom: 1px #D8B6B6 solid;
	padding: 10px;
}

.high-light-news p {
	padding: 3px;
	border-radius: 3px 3px 0px 0px;
}

.header-video p {
	color: #D20101;
	padding: 4px 0px 0px 0px;
	font-weight: bold;
	background: rgb(101, 102, 100);
	text-align: center;
	color: white;
	margin-right: 17px;
    border-radius: 3px 3px 0px 0px;
}
.header-video.row .col-md-6 {
	padding-left: 0px;
}
.d2 {
	height: auto;
	overflow: hidden;
}
.cat-news-title {
	border-bottom: 1px solid #c0c5c9;
	font-size: 14px;
	padding: 10px 5px;
	margin-bottom: 5px;
	box-shadow: none;
	color: #1f1fec;
	min-height: 64px;
	background: #f5f5f5;
}
.cat-news-title a {
	color: black;
}
.cat-news-title:hover a{
    color:blue;
}
*{
    font-family: bangla;
    font-size: 15px
}
.menu_container a {
	font-size: 16px !important;
	font-weight: normal !important;
}

.p_tag a {
	font-weight: normal;
}
.online-survey-q {
	font-size: 15px;
	padding: 10px;
}

.category-name {
	background: #cc2229;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 3px 3px 0px 0px;
	color: azure;
	font-size: 20px;
	text-shadow: 1px 1px 1px black;
}

.news-thumb img {
	width: 100%;
}
.category-news .form-group {
    border-bottom: 1px solid
}



.running-news .col-md-2 {
	background: #CC232A;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

.col-md-12.running-news {
  margin: 5px 0px;
}
.marquee.col-md-10 {
	line-height: 36.5px;
	border: 1px solid #dadada;
	padding-left: 50px;
	position: relative;
	overflow: hidden;
}
.running-news .col-md-2 span {
	font-size: 20px;
}

.under-footer.col-md-12 {
	/*background: url(../images/fotter-pic.jpg) no-repeat;*/
	background-size: 100%;
	height: 150px;
}
.footer{
    padding-top: 50px;
}
.col-md-4.footer-logo img {
	width: 60%;
}
.col-md-4.copyiright {

}

.sports-live-header p {
  line-height: 30px;
}
.sports-live-header .pull-left,.sports-live-header .pull-right {
  padding: 5px;
}
.sports-live-header .pull-left {
  color: yellow;
}
.sports-live-header .pull-right {
  color: white;
}
.healine-running-logo {
	width: 23px;
	border-radius: 5px;
}
.container {
	
	border: 0px solid !important;
}


a:hover{
    text-decoration: none !important;
}
.col-md-4.top3-baner {
	padding-left: 0px;
}
.camera-botton p {
	padding-left: 5px;
}

.search input[type=text] {
  border: 1px solid #97d4d4;
  padding-top: 3px;
  padding-left: 5px;
}
.search {
  border: 0px;
}
.search button {
  padding-top: 3px;
  border: 1px solid #ecc2c2;
  padding-bottom: 1px;
  border-left: 0px;
}

#weather {
  font-size: 47px;
}
.weather-icon.pull-right {
  font-size: 28px;
  padding: 20px;
  margin-right: 33px;
}
.android, .apple, .windows, .rss {
	font-size: 30px;
	padding: 8px;
	color: #837de9;
}
.col-md-4.app-link {
  padding-top: 13px;
}
.facebook, .twitter, .youtube, .linkedin, .google-plus, .printarest {
	font-size: 30px;
	padding: 5px;
	color: #456ac3;
}
.col-md-4.social-link {
  margin-top: 13px;
}
.row.tiny-footer {
	background: #d2d2e1;
}


.col-md-12.like-button-area {
  background: #f2dcdc;
  margin: 13px 0px;
}
.col-md-12.like-button-area a i {
  padding: 5px;
  font-size: 18px;
}
.col-md-12.news-subject {
  border-top: 1px solid #e1c8c8;
  border-bottom: 1px solid white;
}
.col-md-12.news-subject p {
  margin-left: 7px;
  margin-top: 8px;
}
.row.news-details img {
  width: 100%;
}

.col-md-2.here-now {
  font-size: 18px;
}
.row.visited-location {
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.col-md-2.here-now {
  padding-left: 0px;
  text-align: center;
  background: thistle;
  border: 1px solid #d4e1e1;
  color: #577b1b;
  font-weight: bold;
  text-shadow: 1px 1px 0px black;
}
.col-md-10.here-now-location {
  line-height: 26px;
  border: 1px solid #d4e1e1;
  border-left: 0px;
}
.col-md-10.here-now-location span:last-child {
  display: none;
}
.more-news h4 {
	background: #e3e3d3;
	padding: 5px;
}

.col-md-9.single-news h3 {
  margin-top: 0px;
}
.row.more-news-items {
  margin-top: 15px;
  margin-bottom: 20px;
}
.tab-content {
	margin-bottom: 30px;
	height: auto;
/*
	overflow: hidden;
	overflow-y: auto;
*/
}
.right-add-vertise img {
	width: 100%;
}
.footer {
	padding-top: 30px;
	
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel.panel-default.related-division-news ul li i {
	padding-right: 9px;
	color: #499017;
}
.panel.panel-default.related-division-news ul li {
  padding: 5px 0px;
}
.panel.panel-default.related-division-news .panel-heading {
	font-size: 20px;
}

@keyframes marquee{
        from{margin-left: 100%;}
        to{margin-left:-180%}
    }

    .marquee .child{
        animation:30.0513s linear  normal none infinite running marquee;
        white-space: nowrap;
    }
.marquee .child:hover {
	animation-play-state: paused;
}
.marquee img {
	margin: 0px 10px;
}

@media (max-width: 768px) {
  @keyframes marquee{
        from{margin-left: 100%;}
        to{margin-left:-250%}
    }
    
    .play-news-right-side-bar {
        margin: 10px;
    }
    
    .col-md-4.category-news {
        min-height: auto !important;
    }
}

.highlight_img {
	margin: 0px;
}
.highlight_img img{
    width:100%;
    height: 100%;
}
.highlight_news {
	margin: 0px -60px 0px 0px;
	font-size: 12px;
	color: aliceblue;
	margin-top: -35px;
	background-color: #0e0e0f99;
	position: absolute;
	font-weight: bold;
	width: 94.5%;
}
.highlight_img {
	margin: 0px;
	padding-left: 5px !important;
	padding-right: 5px !important;
	height: 170px;
    margin-bottom: 20px;
}

.category-news .form-group {
	border-bottom: 1px solid #ccd9e6;
	height: 29px;
	border-left: 1px solid #ccd9e6;
	border-right: 1px solid #ccd9e6;
	border-radius: 3px;
	padding-top: 3px;
	padding-right: 5px;
}
.row.play-section img {
	width: 100%;
}
.play-section .nav-tabs {
	border-top: 1px solid #d4d8db;
	padding-top: 5px;
	border-right: 1px solid #d4d8db;
}
.row.single-related-play-news .col-md-3 {
	padding: 0px;
}


.col-md-6.big-content-play {
  padding-left: 0px;
}
.playing-content {
  margin-top: 10px;
  background: white;
  border: 1px solid #ccd6e0;
  border-top: 0px;
}
.row.single-related-play-news {
	padding-bottom: 0px;
	border-bottom: 1px solid #abb9c6;
	margin-bottom: 11px;
}
.row.single-related-play-news .col-md-9 {
	padding-right: 5px;
}
.single-play-item p {
	padding: 10px 0px;
}
.row.single-related-play-news .col-md-3 img {
	border: 2px solid #8ba28b;
	padding: 2px;
}

.col-md-12.link-more-news {
  padding: 0px;
}
.col-md-4.play-news-right-side-bar {
  height: 450px;
  overflow-y: scroll;
}



/************************ category page design *************************/

.row.category-page-content img {
	width: 100%;
}


.row.category-page-panel-head h1 {
  font-size: xx-large;
  border-bottom: 1px dashed #749dc2;
  padding-block-end: 5px;
  text-align: center;
  border-left: 5px solid #95adc2;
  border-right: 5px solid #95adc2;
  border-top: 1px dashed #749dc2;
  padding-top: 5px;
  color: #49506e;
}
.news-caption:after {
  display: block;
  clear: both;
  content: "";
}
.news-caption {
}
.col-md-5.item-thumb img {
  border: 4px solid #b2bab7;
  padding: 4px;
}
.col-md-5.item-thumb:after {
  content: "";
  height: 0px;
  border-left: 19px solid #b2bab7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 29%;
  right: -1.5%;
}
.col-md-5.item-thumb {
  position: relative;
}
.col-md-12.item-heading h2 {
  font-size: x-large;
}
.news-caption .col-md-5 {
  padding: 0px;
}
.news-caption i {
	color: #ae6d43;
}

.row.single-category-news-item {
	border-bottom: 1px dotted;
}
.item-details * {
    display: none;
}
.item-details p:nth-of-type(1){
    display: block;
}


.paginate {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin: 3px;
}

.paginate span.disabled {
    padding: 8px 10px 8px 10px;
    margin: 3px;
    color: #DDD;
    border-radius: 3px;
    background-color: #d9534f;
}

.paginate span.current {
    padding: 8px 10px 8px 10px;
    margin: 3px;
    border-radius: 3px;
    background-color: #555;
    color: #FFF;
}

.paginate a {
    padding: 8px 10px 8px 10px;
    margin: 3px;
    border-radius: 3px;
    background: #428bca;
    text-decoration: none;
    color: #fff;
}
.row.single-category-news-item {
	min-height: 200px;
	padding-bottom: 10px;
}
.read_more_button{
    display: block;
}





.col-md-12.empty_error span {
	font-size: 114px;
	text-align: center;
	display: block;
	padding: 50px 0;
	color: red;
}
.col-md-12.empty_error h5 {
	text-align: center;
	font-size: 36px;
}
.col-md-12.empty_error div {
	border: 1px solid #bec5cc;
	padding: 31px 0px;
}

.related-division-news ul li i {
  float: left;
  width: 10%;
}
.related-division-news ul li a {
  float: left;
  width: 90%;
}

.col-md-9.single-news span {
	margin-bottom: 10px;
	display: block;
}
.col-md-12.news-details img {
	margin-bottom: 20px;
}

.news-details img {
	height: 500px;
	width: auto !important;
	max-width: 100%;
}

/*************** news popup box ***********************/
.related-division-news {
	margin-top: 10px;
}
.popup-parent {
  
}
.popup-child .photo{
    text-align: center;
    border-bottom:1px solid pink;
    padding-bottom: 5px;
    
}
.popup-child {
  position: absolute;
    z-index: 10;
    background: white;
    width:250px;
    height:380px;
    
    
}

.popup-child img {
  width: auto;
max-width: 100%;
height: 150px;

}
.popup-parent:nth-of-type(1) {
  display: block;
}
.popup-child p {
  padding: 10px;
}
.popup-parent:hover .popup-child {
  display: block;
}
.popup-child {
	position: absolute;
	z-index: 10;
	background: white;
	width: 250px;
	box-shadow: 1px 4px 11px #b9aaaa;
	margin: 27px;
	border: 1px solid #7f837d;
    display: none;
}
.popup-child div{
    padding:15px;
}
.col-md-4.category-news {
	min-height: 550px;
}



.col-md-12.rating-section {
  padding: 5px;
  position: relative;
  padding-left: 20px;
}
.col-md-12.rating-section:after {
  content: "";
  width: 96%;
  height: 42%;
  position: absolute;
  border: 1px solid #deabab;
  bottom: 0;
  left: 2%;
  border-top: 0px;
  border-radius: 0px 0px 5px 5px;
}
.col-md-12.rating-section::before {
  content: "";
  width: 96%;
  height: 30%;
  position: absolute;
  border: 1px solid #deabab;
  top: 0;
  left: 2%;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}
.col-md-12.section-border {
	width: 100%;
	height: 4px;
	background: #f2dcdc;
	margin-top: 10px;
	margin-bottom: 10px;
}
.rating.pull-right {
	margin-right: 20px;
	margin-top: 0px;
}
.rating.pull-right span {
	margin-right: 5px;
}
.rate-heading {
	color: red;
}


.image {
  text-align: center;
  width: 100%;
}
.big-thumbnews .image {
  border: 2px solid;
  margin-bottom: 10px;
}
.img-responsive.main-nwes-thambel {
	height: 300px;
	width: auto;
	display: inline-block;
	padding: 7px;
	border: 0;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: -16px;
}
.big-thumb-news_para {
	margin: 0px !important;
	margin-bottom: 15px !important;
}
.col-md-1.top3-baner {
	min-height: 61px;
}


.family-button {
	background: #BBA00F;
	text-align: center;
	color: white;
	transition: all 0.3s;
	padding: 9px;
}

.m-family {
    
}


.m-family .col-md-12 {padding: 0px;}

.family-button:hover {
    background: #862424;
}

.top3-baner {
	height: auto;
	margin-top: 10px;
	float: right;
	margin-bottom: 10px;
}
/*//light sldier css */
.lslide img{
    max-width: 100%;
}

.lslide p {
  position: absolute;
  top: 85%;
  left: 0;
  text-align: center;
  width: 100%;
  color: white;
  z-index: 1;
  padding: 15px;
}
.lslide {
  position: relative;
}
.lslide p:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}
.l_helper {
	border: 1px solid #ededed;
	height: 579px;
	overflow: hidden;
}

.play-photo {
  border: 2px solid #d2d2d2;
  padding: 4px;
  text-align: center;
  margin-bottom: 10px;
}
.play-photo img {
	height: 250px;
	width: auto !important;
	max-width: 100%;
}

/****bootstrap customize ********/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1050px;
  }
}
/***********  row responsive ************/



/*******************************    more css with responsive ***************/
.top3-baner {
	float: left;
}

@media (min-width: 320px) and (max-width: 767px) {
  .hidden-mini {
    display: none !important;
  }
    p,div,span,body,a,li{
        font-size: 17px !important;
    }
    
}
@media (min-width: 320px) and (max-width: 767px) {
  .visible-mini {
    display: block !important;
  }

@media (min-width: 320px) and (max-width: 768px) {
  .sm-padding-0{
        padding:0px;
    }
    .logo{
        width:100%;
    }
    .play-photo img{
        max-width:100% !important;
    }
  }
    

.col-md-4.top3-baner img {
  width: 100%;
}
.col-md-4.top3-baner {
  width: 100%;
}
.typewriter h1 {
  font-size: 33px;
  text-align: center;
}
.typewriter {
  width: 100%;
}
.social-botton {
  float: left;
  width: 40px;
}
.login-botton {
  float: left;
}
    
  

}

@media (min-width:768px) and (max-width:991px){
    .typewriter h1 {
      padding-right: 15px;
    }
    .typewriter{
        width:65%;
    }
    p,div,span,body,a,li{
        font-size: 17px !important;
    }
}

@media (min-width:768px) and (max-width:992px){
    p,div,span,body,a,li{
        font-size: 17px !important;
    }
}

/******** more css *********/
.default-border {
	border: 1px solid #8fa3b4;
	padding: 14px;
	margin: 10px 0px;
}
.col-md-8 img{
    opacity: 0.8;
    transition: all 0.3s;
}
.col-md-8 img:hover{
    opacity: 1;
}

/***** user profile css *********/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/** comment box css *********/

.detailBox {
	width: 100%;
	border: 1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:300px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-bottom:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {

    float:left;
}
.commenterImage img {
	border-radius: 50%;
	height: 59px;
	border: 1px solid #bbcede;
	width: 56px !important;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

.commenter {
  display: inline-block;
  border: 1px solid #dbddde;
  font-weight: bold;
  padding: 5px;
  min-width: 140px;
  position: relative;
  border-radius: 5px;
}
.commenter:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 7px;
  height: 0px;
  border-top: 7px solid #dbddde;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
/***************************** popup layer and content *************************/
.popup-layer {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
}

.popup-content {
	width: 70%;
	margin: auto;
	height: 100%;
	background: white;
	overflow: hidden;
    position: relative;
}
.popup-layer:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: -1;
  opacity: 0.8;
}

.popup-close {
  position: absolute;
  right: 4%;
  top: 7%;
  font-size: 30px;
  cursor: pointer;
  border: 3px solid red;
  padding: 6px;
  transition: all 0.3s;
}
.popup-close:hover {
  background: black;
  color: yellow;
  border-color: #f3b5f3;
}
.popup-details {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.popup-close-area {
  position: relative;
  border-bottom: 2px solid green;
}
.popup-close {
  position: static;
  float: right;
  margin-right: 3%;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup-close-area:after {
  content: "";
  display: block;
  clear: both;
  background: grey;
}

/**************/
.row#row{
    margin: 0px;
}
.bottom-devider{
    margin-bottom:10px !important;
}


.search form {
  position: relative;
}
.suggesion {
  position: absolute;
  z-index: 111;
}
.suggesion a {
  display: block;
  border-bottom: 1px solid #daa4a4;
  padding: 6px 4px;
}
.suggesion {
  background: white;

  box-shadow: 0px 3px 4px #a25252;
}
.suggesion a:hover {
  background: #f6e5e8;
}

.right_side_ad {
	margin-bottom: 20px;
	border: 1px solid #d8b8b8;
	padding: 5px;
}
.padding-0{
        padding: 0px !important;
    }
    
.family-button a {
	color: white;
	font-size: ;
}

.left-outside-ad-comtainer{
    position: fixed;
    left: 0;
}
.right-outside-ad-container{
    position: fixed;
    right: 0;
}

.left-out-side-ad {
	padding: 3px 10px;
}
.right-out-side-ad {
	padding: 3px 10px;
}

}
@media (min-width: 1200px)
style.css:1468
.container {
    width: 1062px;
}

}
style.css:627
.container {
    box-shadow: 0px 0px 2px !important;
}
h1, .h1 {
	font-size: 36px;
	color: red;
}

.category-name {
	background: #cc2229;
}

@keyframes rotate{
    from{transform: rotate(360deg)}
}
.fa-spinner{
    animation-name: rotate;
    animation-duration: 1s;
    animation-direction:reverse;
    animation-iteration-count: infinite;
}

.thumbnail {
	height: 86px;
}
.thumbnail img {
	height: 73px;
}
.lslide {
	text-align: center;
}
.f_second_part {
	margin-top: 20px;
	margin-bottom: 20px;
}
.gallery > .row {
	border: 0px;
}
.gallery {
  height: 200px;
}
.gallery img {
  max-height: 100%;
}
.row .playing-content {
	margin-right: 0;
}
.footer-logo img {
	margin-bottom: 11px;
}
.lSSlideOuter .lSPager.lSGallery img {
	display: block;
	height: 100px;
	max-width: 100%;
}
.related_news_thumb img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
}
.related_news_thumb img {
  margin-bottom: 11px;
}

.related_news_thumb {
  display: flex;
  flex-wrap: wrap;
}
.related_news_thumb .col-md-4 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.related_news_thumb .col-md-4 a {
  width: 100% !important;
  float: none !important;
  display: block;
  border: 1px solid;
  padding: 5px;
}