img{
    width:100%;
    
}
*{
    margin:0px ;
    padding:0px;
    font-size: 15px;
}
ul,ol{
    list-style: none;
}
.clear{
    clear:both;
}
a,button{
    display: inline-block;
}
body{
    font-family: kalpurush;
}
@font-face{
    font-family:kalpurush;
    src:url(../fonts/kalpurush.ttf)
}
@font-face{
    font-family:Punarbhaba;
    src:url(../fonts/Punarbhaba_27-02-2006.ttf)
}

@font-face{
    font-family:ma;
    src:url(../fonts/Ma_UI.ttf)
}

.logo {
  margin-top: 18px;
}
header .container {
	border-top: 5px solid #80d8cc;
    position: relative;
}
header span {
	position: absolute;
	top: 0;
	right: 0px;
	background: #686cbd;
	padding: 0px 15px;
	color: white;
}
/*search bar*/
.search_bar .col-md-4 {
  position: relative;
}
.search_bar .col-md-4 span {
  position: absolute;
  left: 0;
  top: 6px;
  font-size: 20px;
}
.search_bar .col-md-4 select {
  margin-left: 10px;
}
.search_bar {
  padding: 15px 0px;
}
.container {
	border: 1px solid #e7ece7;
}

.search_bar .container {
  border-left: 4px solid #d8a5a5;
  border-right: 4px solid #d8a5a5;
  padding: 20px;
}
.search_bar a {
  float: right;
}
/************* content **************/

.photo {
}
.employers .col-md-3 img {
	height: 300px;
	width: auto;
	max-width: 100%;
}
.employers .col-md-3 .photo {
	text-align: center;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 15px;
}
.employers .col-md-3 p {
  padding: 6px 10px;
  margin: 0px;
}

.employers .helper {
  box-shadow: 11px 4px 31px #c6baba;
  border: 1px solid #dbcfcf;
}
.employers .col-md-3 {
  margin-bottom: 40px;
}
.container.employers {
	border: 0px;
}
/**************footer *************/

footer .container p {
  margin: 0px;
  padding: 15px 0px;
}
footer .container p a {
  color: #443a3a;
}
footer .container {
  background: #f2f2f2;
  margin-bottom: 30px;
  border-bottom: 4px solid #92b7b9;
  border-top: 4px solid #92b7b9;
}
/************** popup  profile ***************/

.profile-photo {
  text-align: center;
  border-bottom: 2px solid #c6cfd7;
  padding-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.profile-photo img {
  height: 276px;
  width: auto;
  border: 10px solid #d2d2cf;
  padding: 10px;
}
.info-section.basic.info .row .col-md-3 {
  text-align: right;
}
.info-section.contact-info {
}


.single-letter {
  padding: 0px 25px;
  text-align: center;
}
.single-letter p {
  font-size: 18px;
}


.qulification .col-md-8 .row {
  color: #8c7747;
  border: 1px solid #e3dcfe;
  border-top: 0px;
  margin-right: 15px;
  padding: 5px 0px;
}
.qulification .col-md-8 .row:nth-child(1) {
  color: black;
  border-top: 1px solid #e3dcfe;
}
.qulification .col-md-8 {
  margin-bottom: 20px;
}
.qulification .col-md-8 .row .col-md-4 {
}
.info-section .row {
  margin-bottom: 5px;
}
.col-md-12.social {
  text-align: center;
  border: 1px solid #c5d4e1;
  padding: 10px;
  background: #efefef;
}
.col-md-12.social a {
  font-size: 24px;
  margin-right: 50px;
}
.col-md-1.single-letter {
  background: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  min-height: 100px;
}
.address {
}
.row.address {
  margin-bottom: 50px;
  border-bottom: 2px solid #aec6db;
  padding-bottom: 12px;
}
.row.address:nth-of-type(2) {
  border: 0px;
}

.row.address .col-md-11 .row:nth-child(odd) {
  background: #efefef;
  padding: 3px 0px;
}
.row.address .col-md-11 .row {
  margin-right: 5px;
}

.employers .row .col-md-3 .helper {
  position: relative;
}
.zoom-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 81.5% 0px;
  z-index: 1;
  color: white;
  font-size: 50px;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.zoom-layer:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
}
.employers .col-md-3:hover .zoom-layer {
  opacity: 1;
}

/***************************** popup layer and content *************************/
.popup-layer {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
}

.popup-content {
	width: 70%;
	margin: auto;
	height: 100%;
	background: white;
	overflow: hidden;
    position: relative;
}
.popup-layer:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: -1;
  opacity: 0.8;
}

.popup-close {
  position: absolute;
  right: 4%;
  top: 7%;
  font-size: 30px;
  cursor: pointer;
  border: 3px solid red;
  padding: 6px;
  transition: all 0.3s;
}
.popup-close:hover {
  background: black;
  color: yellow;
  border-color: #f3b5f3;
}
.popup-details {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
.popup-close-area {
  position: relative;
  border-bottom: 2px solid green;
}
.popup-close {
  position: static;
  float: right;
  margin-right: 3%;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.popup-close-area:after {
  content: "";
  display: block;
  clear: both;
  background: grey;
}