
.paginate {
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin: 3px;
}

.paginate span.disabled {
    padding: 8px 10px 8px 10px;
    margin: 3px;
    color: #DDD;
    border-radius: 3px;
    background-color: #d9534f;
}

.paginate span.current {
    padding: 8px 10px 8px 10px;
    margin: 3px;
    border-radius: 3px;
    background-color: #555;
    color: #FFF;
}

.paginate a {
    padding: 8px 10px 8px 10px;
    margin: 3px;
    border-radius: 3px;
    background: #428bca;
    text-decoration: none;
    color: #fff;
}
/*
.style3 * {
  display: none;
}
*/
.style3 p:nth-child(1) {
  display: block;
}

.descriptions.style3 * {
  display: none !important;
}
.descriptions.style3 p:nth-of-type(1) {
  display: block !important;
}
.link_button{
    cursor: pointer;
}
.form-control.sl_number {
	width: 40px;
}