


.main_menu li {
  float: left;
  position: relative;
}
.main_menu li ul {
	position: absolute;
	top: 48px;
	left: 0;
	display: none;
	z-index: 10;
	transition: all 0.3s;
	border-top: 1px solid transparent;
}
.home-icon a i {
  font-size: 22px;
}
.main_menu:after {
  content: "";
  clear: both;
  display: block;
}
.main_menu ul li a {
	font-size: 17px;
	padding: 12px;
	display: block;
	background: #d3e1c5;
	color: #1938a5;
	border-right: 1px solid #c2cfba;
	box-sizing: border-box;
	transition: all 0.3s;
}

.home-icon a i {
  font-size: 25px;
}
.main_menu ul li a:hover {
  background: #c00b0b;
  color: white;
}
.main_menu {
  background: #d3e1c5;
  box-shadow: 0px 1px 2px #987f7f;
}
.main_menu li:nth-of-type(11) a {
  border-right: 0px;
}


.main_menu li:hover ul {
  display: block;
  
}
.main_menu li ul li a {
  white-space: ;
  width: 100%;
}
.main_menu ul li ul li {
  width: 100%;
  min-width: 150px;
}

.main_menu li:hover > a {
  background: #c00b0b;
    color:white;
}

/*
.main_menu li::after {
	content: "";
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: 111;
}
*/


//*************** sm device menu css ************/

.main_menu_for_sm ul li {
  display: block;
  background: #b0efd0;
  padding: 10px;
  border-bottom: 1px solid aliceblue;
  box-shadow: 0px 1px 4px;
}
.main_menu_for_sm ul ul {
  padding-left: 20px;
  background: #b0efd0;
  box-shadow: 0px 0px 5px;
}
.main_menu_for_sm ul ul li {
  background: #72a772;
  box-shadow: none;
  border-left: 5px solid #7cdaab;
}
.main_menu_for_sm ul ul li a {
  color: white;
}
.main_menu_for_sm ul li {
	background: #b0efd0;
	padding: 10px;
	border-bottom: 1px solid aliceblue;
	box-shadow: 1px 1px 5px;
}

.nav_button {
  font-size: 17px;
  padding: 12px;
  display: block;
  background: #d3e1c5;
  color: #1938a5;
  border-left: 1px solid #c2cfba;
  box-sizing: border-box;
  transition: all 0.3s;
  font-size: 25px;
  cursor: pointer;
}
.nav_button:hover {
  background: #c00b0b;
  color: white;
}

.menu_close_button {
  display: block;
  padding: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.menu_close_button:hover {
  background: ;
  border: 1px solid #d4361c;
}











